@app-size: 100%;
.SocialMediaStyle {
    margin-top: 20px;
    display: flex;
    height: 10%;
    justify-content: center;
    min-width: fit-content;
    min-height: fit-content;
    @media screen and (orientation: landscape) {
        a {
            margin-left: 2%;
            margin-right: 2%;
            min-width: fit-content;
            min-height: fit-content;
            img {
                max-width: 5vw;
                transition: 0.5s all ease-in-out;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
    @media screen and (orientation: portrait) {
        a {
            margin-left: 2%;
            margin-right: 2%;
            min-width: fit-content;
            min-height: fit-content;
            img {
                max-width: 5vh;
                transition: 0.5s all ease-in-out;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }
}
.IntroBlockStyle {
    margin: 10% auto 0;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: fit-content;
    @media screen and (orientation: landscape) {
        height: 40%;
        width: 40vw;
    }
    @media screen and (orientation: portrait) {
        height: 40%;
        width: 40vh;
    }
    label {
        @media screen and (orientation: landscape) {
            font-size : 2.5vw;
        }
        @media screen and (orientation: portrait) {
            font-size : 2.5vh;
        }
        font-family: 'Courier New', Courier, monospace;
    }
}

.About {
    margin-top: 10vh;
    h1 {
        font-size: 60px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    div {
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        
        img {
            margin-left: 2vw;
            min-width: 20vw;
        }
        div {
            margin: 0;
            label {
                font-size: 3vh !important;
                margin-right: 2vw;
            }
        }
    }
}

.Home {
  width: @app-size;
  height: @app-size;
}

.showMenu {
    display: none;
    @media screen and (max-width: 768px) {
        display: flex !important;
        flex-direction: column;
        background-image: linear-gradient(to bottom right,purple, white);
        width:100vw;
        height: fit-content;
        padding-top: 85px;
        z-index: 9;
        margin-left: -2rem;
        margin-right: -8rem; 
    }
    
}
.hamburgerButton{
    display: none;
    @media screen and (max-width: 768px) {
        background-color: transparent;
        border: none;;
        width: 85px;
        height: 85px;
        display: inline-block;
        position: absolute;
        top:0;
        right:0;
        cursor: pointer;
        z-index: 10;
        text-align: center;
        -webkit-tap-highlight-color: transparent;
    }
}
.aboutPicImg {
    width: 10vw;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    border: 0.75em double black;
    display: inline-block;
    transform: rotate(5deg);
}